.giftCardItem .giftCardItemInput {
    width: 250px !important;
    border: var(--default-border);
}

.giftCardItem .buttonCheck {
    border-radius: 0 3px 3px 0 !important;
    height: 44px;
}

.messageSuccess {
    font-style: italic;
    font-size: var(--font-size-xs);
    color: green;
}

.messageSuccess::before {
    content: var(--symbol-checkmark);
}
