.TopNavigationContainer {
    background-color: var(--background-color-dark);
    height:130px;
    position: fixed;
    padding-bottom: 10px;
    top: 0;
    width: var(--default-container-width);
    z-index: 9999;
}

.TopNavigationContainer a {
    display: flex;
}

