.tableDetailsUser {
    width: var(--default-table-width);
    border-collapse: collapse;
}

.tableDetailsUser td:first-of-type {
    font-weight: bold;
}

.tableDetailsUser td {
    padding: 20px 20px 20px 0;
    border-bottom: var(--default-border-light);
}

.itemContainer .button {
    display: inline-block;
    height: 35px;
    font-size: var(--font-size-xs);
    margin: 40px 0;
}
