.tableDetailsUser {
    width: 100%;
    border-collapse: collapse;
}

.tableDetailsUser td:first-of-type {
    font-weight: bold;
}

.tableDetailsUser td {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #eee;
    font-style: italic;
    font-size: 0.8em;
}

.itemContainer .button {
    display: inline-block;
    height: 35px;
    font-size: 0.8em;
    margin: 40px 0;
}
