.SmallLoadingIndicator {
    color: #fff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
    5%,
    95% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
    10%,
    59% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.021em -0.206em 0 -0.1em, -0.043em -0.203em 0 -0.11em, -0.064em -0.197em 0 -0.12em, -0.074em -0.193em 0 -0.12em;
    }
    20% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.084em -0.189em 0 -0.1em, -0.138em -0.154em 0 -0.11em, -0.167em -0.122em 0 -0.12em, -0.187em -0.085em 0 -0.12em;
    }
    38% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.094em -0.185em 0 -0.1em, -0.161em -0.130em 0 -0.11em, -0.193em -0.074em 0 -0.12em, -0.82em -0.022em 0 -0.12em;
    }
    100% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
    5%,
    95% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
    10%,
    59% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.021em -0.206em 0 -0.1em, -0.043em -0.203em 0 -0.11em, -0.064em -0.197em 0 -0.12em, -0.074em -0.193em 0 -0.12em;
    }
    20% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.084em -0.189em 0 -0.1em, -0.138em -0.154em 0 -0.11em, -0.167em -0.122em 0 -0.12em, -0.187em -0.085em 0 -0.12em;
    }
    38% {
        box-shadow: 0 -0.21em 0 -0.1em, -0.094em -0.185em 0 -0.1em, -0.161em -0.130em 0 -0.11em, -0.193em -0.074em 0 -0.12em, -0.82em -0.022em 0 -0.12em;
    }
    100% {
        box-shadow: 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.1em, 0 -0.21em 0 -0.11em, 0 -0.21em 0 -0.12em, 0 -0.21em 0 -0.12em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
