.disabledPrice {
    display: inline-block;
    position: relative;
}
.disabledPrice::before {
    content: '';
    position: absolute;
    left: -0.1em;
    right: -0.1em;
    top: 0.38em;
    bottom: 0.38em;
    background: linear-gradient(to left top, transparent 45.5%, currentColor 47.5%, currentColor 52.5%, transparent 54.5%);
    pointer-events: none;
}

.discountContainer {
    background-color: red;
    color: var(--font-color-secundary);
    font-size: var(--font-size-s);
    font-weight: bold;
    height: 25px;
    left: -50px;
    padding: 5px;
    position: absolute;
    transform: rotate(-45deg);
    text-align: center;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}