fieldset {
    border: 0;
}

.ContactForm {
    max-width: 800px;
    text-align: left;
    margin: 10px auto;
    width:98%;
}

.ContactPage {
    padding: 20px;
}

@media only screen and (max-width: 900px) {
    fieldset {
        padding: 0;
    }

    .ContactForm {
        width: 95%;
        margin: 25px 0;
    }

    .ContactPage {
        margin-top: 40px;
        padding: 0;
    }
}


