.Footer {
    width: var(--default-container-width);
}

.FooterContainer {
    max-width: 1200px;
    margin: 10px auto;
    width: var(--default-container-width);
    display: flex;
}

Footer a,
Footer ul {
    color: var(--font-color-secundary);
    font-family: var(--default-font-light);
    padding: 0;
    line-height: 20px;
    font-size: var(--font-size-s);
    list-style: none;
}

.FooterColumn {
    margin: 20px 75px 20px 20px;
}

.copyright {
    margin: 10px auto;
}

@media only screen and (max-width: 600px) {
    .FooterContainer {
        flex-direction: column;
    }
}