.cms .LeftMenuContainer {
    background-color: var(--background-color-light);
    padding : 25px;
    min-height: 100vh;
}

.LeftMenuContainer a {
    color: var(--link-color-primary);
    padding: 10px;
}

.LeftMenuContainer a:hover {
    font-weight:bold;
    color: var(--font-color-primary);
}

.LeftMenuContainer a.active {
    font-weight: bold;
}

.LeftMenuContainer a.active:before {
    content: var(--menu-indicator-left);
    color: var(--font-color-primary);
    margin-right: 7px;
}

@media only screen and (max-width: 900px) {
    .LeftMenuContainer {
        padding: 5px;
    }

    .LeftMenuContainer a {
        padding: 2px;
    }
}