.cms .LeftMenuContainer {
    background-color: var(--background-color-blue);
    padding : 25px 0;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0 0 60px -22px inset, rgba(0, 0, 0, 0.3) 0 -30px 30px -3px inset;
}

.LeftMenuContainer a {
    color: var(--link-color-primary);
    padding: 10px;
}

.cms .LeftMenuContainer a {
    color: var(--link-color-tertiary);
    padding: 30px 10px;
}

.cms .LeftMenuItems {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 20px 0;
    width: 100%;
    justify-content: flex-start;
}

.cms .LeftMenuItems a {
    margin: 0;
    padding: 30px 20px;
    transition: background-color 0.3s ease-out;
    display: flex;
    align-items: center;
}

.cms .LeftMenuItems a:hover {
    background-color: #9cbbd3;
    transition: background-color 0.3s ease-in;
}

.cms .LeftMenuContainer a:hover {
    font-weight:bold;
}

.cms .LeftMenuContainer a.active {
    font-weight: bold;
    background-color: #9cbbd3;
}

.LeftMenuContainer a.active {
    font-weight: bold;
}

.LeftMenuContainer a.active:before {
    content: var(--menu-indicator-left);
    color: var(--font-color-primary);
}


.cms .LeftMenuContainer a.active:before {
    content: var(--menu-indicator-left);
    color: var(--font-color-secondary);
    position: absolute;
    left: 250px;
}

@media only screen and (max-width: 900px) {
    .LeftMenuContainer {
        display: none;
    }
}