.Product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    transition: all 0.2s ease-in;
    border-radius: var(--default-border-radius);
    border: var(--default-border-light);
    margin: 25px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.Product:hover {
    transition: all 0.2s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.Product img {
    width: 100%;
}

.orderProduct {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.filterPrice .button,
.DetailsProduct .button,
.orderProduct .button {
    text-transform: capitalize !important;
}

.productAmountContainer input[type=text],
.filterPrice input[type=text],
.DetailsProduct input[type=text],
.orderProduct input[type=text] {
    width: 20px !important;
    margin: 10px 5px 10px 0;
    padding: 12px;
    outline: 0;
    border: var(--default-border-light);
    border-radius: var(--default-border-radius);
    font-size: 16px;
    transition: var(--transition-out);
    box-shadow: 0;
}

.filterPrice input[type=text] {
    padding: 5px 10px !important;
    height:30px !important;
    min-width: 40px;
}

.productAmountContainer input[type=text]:focus,
.DetailsProduct input[type=text]:focus,
.orderProduct input[type=text]:focus {
    border: var(--input-focus-border-color);
    box-shadow: 1px 1px 20px  #efefef;
    transition: var(--transition-in);
}

.productDescription {
    font-family: var(--default-font-light);
    font-size: var(--font-size-xs);
}

.ProductOverviewAdmin div {
    min-width: 200px;
}

.productPrice {
    font-family: var(--default-font-bold);
}

.outOfStock,
.stockAlmostEmpty,
.stockFull {
    font-style: italic;
    font-size: var(--font-size-xs);
    color: green;
}

.outOfStockCell td.productStock,
.outOfStock {
    font-style: normal;
    color: red;
}

.outOfStock::before {
    content: var(--symbol-cross);
}

.stockAlmostEmpty {
    color: orange;
    font-style: italic;
}

.outOfStockCell td.productStock span::before,
.StockAlmostEmptyCell td.productStock span::before,
.stockAlmostEmpty::before {
    content: var(--symbol-warn);
}

.StockAlmostEmptyCell td.productStock {
    color: orange;
}

.outOfStockCell td.productStock {
    color: red;
}

.stockFull::before {
    content: var(--symbol-checkmark);
}

.formElement textarea {
    margin: 0;
    width: 95%;
}

.StockAlmostEmptyCell td {
    background-color: #fffaea !important;
}

.outOfStockCell td {
    background-color: #f7caca !important;
}

@media only screen and (max-width: 900px) {
    .Product {
        width: 175px;
        transition: width 0.2s ease-in;
        margin: 15px;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .Product {
        width: 150px;
        transition: width 0.2s ease-in;
        margin: 12px;
        padding: 10px;
    }

    .priceTotalTop,
    .productPriceTotal {
        display: none;
    }

    .productPrice {
        width: 98%;
    }

    .discountContainer {
        left: -70px;
    }
}