.TopNavigationMenuItem {
    margin-right: 100px;
    display: inline-block;
}

.TopNavigationMenuItem a {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s ease-out;
}

.TopNavigationMenuItem a:hover {
    color: #FFA303;
    transition: color 300ms ease;
}