.GiftCardTop,
.GiftCard {
    display: flex;
    flex-direction: row;
    width: var(--default-width);
}

.GiftCardTop {
    color: var(--font-color-primary);
}

.GiftCard p {
    padding: 0;
    margin: 0;
}

.giftCardName {
    font-weight: bold;
    min-width: 125px;
}

.giftCardCode {
    min-width: 250px;
}

.giftCardAmount {
    min-width: 75px;
}

.giftCardExpirationDate {
    min-width: 125px;
}