.buttonCheck,
.buttonCheckout,
.button {
    background-color: var(--background-color-primary);
    border: 0;
    border-radius: 2px;
    color: var(--font-color-secondary);
    height: 45px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    padding:7px 12px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in;
}

.buttonCheckout {
    background-image: url('../../../../Assets/icons/menu_icon_cart.png');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 30px;
    width: 120px;
}

.buttonCheck:hover,
.buttonCheckout:hover,
.button:hover {
    background-color: #ffb83f;
    transition: background-color 0.5s ease-in;
}

.buttonCheck,
.buttonCheckout {
    text-transform: capitalize;
}

.buttonCheckout:disabled,
.button:disabled {
    background-color: #999999;
    border: 1px solid #666;
    cursor: not-allowed;
}

@media only screen and (max-width: 600px) {
    .buttonCheckout {
        width: 90px;
        background-image: none;
        padding-left: 15px;
    }
}
