.DetailsProduct {
    display: flex;
    flex-direction: row;
    width: 98%;
}

section {
    width: 1100px;
}

.DetailsProduct .rightContent {
    width: var(--default-container-width);
}

.DetailsProduct .rightUpperContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DetailsProduct .rightContent .discountContainer{
    margin-left: -200px;
}

.recommendedProducts {
    display: flex;
}

@media only screen and (max-width: 1100px) {
    section {
        width: 98%;
    }

    .recommendedProducts {
        flex-wrap: wrap;
    }

    .DetailsProduct .rightUpperContent {
        flex-direction: column;
    }

    .DetailsProduct .orderProduct {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 600px) {
    .DetailsProduct {
        flex-direction: column;
    }

    .DetailsProduct .imageContent img {
        width: 100%
    }
}
