.userContentContainer .overview {
    margin: 10px 0 50px 0;
}

.userContentContainer .itemContainer {
    margin: 0;
}

.tableOrder {
    width: 100%;
    border-collapse: collapse;
    padding: 5px 8px 5px 0;
    margin: 20px 10px 20px 0;
}

.tableOrder td {
    padding: 20px 20px 20px 0;
    border-bottom: var(--default-border-light);
    width: 150px;
}

.tableOrder tr:first-of-type {
    font-weight: bold;
    color: var(--font-color-primary);
}

@media only screen and (max-width: 600px) {
    .tableOrder td.orderInvoice,
    .tableOrder td.orderSent,
    .tableOrder td.mobile{
        display: none
    }
}