.detailsOrder {
    font-family: var(--default-font-light);
    margin-top: 15px;
    width: var(--default-width);
}

.detailsOrder .downloadPDF img {
    width: 20px;
    margin: 10px 10px 0 10px;
}

.detailsOrder h2 {
    margin-top: 0;
}

.detailsCost .bad {
    color: red;
}

.detailsOrderTop,
.detailsOrderBottom {
    width: var(--default-container-width);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.detailsOrderBottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.orderTotal {
    padding-top: 20px;
}

.detailsOrderProducts {
    margin: 30px;
}

.detailsOrderBottom .orderShipment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.detailsCost {
    text-align: right;
}

@media only screen and (max-width: 1100px) {
    .detailsOrder {
        width: 600px;
    }
}

@media only screen and (max-width: 900px) {
    .detailsOrder {
        border-top: var(--default-border);
        padding-top: 20px;
        width: 100%;
    }
}