.shoppingCartPage {
    width: var(--default-container-width);
    margin: 0 20px;
}

.productAmountContainer input[type=text] {
    padding: 8px;
    height: 20px;
    margin: 0;
}

.shoppingCartPage .productAmountContainer {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-l);
    font-weight: bold;
    height: 40px;
    text-align: center;
}

.shoppingCartPage .productAmount {
    width: 25px;
    padding: 10px;
    background-color: var(--background-color-primary);
    border-radius: var(--default-border-radius);
    color: var(--font-color-secundary);
    cursor: pointer;
    margin: 0 10px;
}

.shoppingCartPage .button {
    height: 30px;
    float: right;
}

.shoppingCartContainer {
    border-bottom : var(--default-border-light);
    width: var(--default-container-width);
}

.shoppingCartContainer .shoppingCartTop {
    border-bottom: var(--default-border-light);
    display: flex;
    font-weight: bold;
    font-size: var(--font-size-l);
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--default-container-width);
}

.shoppingCartContainer .articleTop {
    margin: 0 270px;
}

.shoppingCartContainer .amountTop {
    margin: 0 20px;
}

.shoppingCartContainer .priceTop {
    margin: 0 110px;
}

.shoppingCartContainer .priceTotalTop {
    margin-left: auto;
}

.shoppingCartContainer img{
    width: 75px;
}

.productItemContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productItemContainer div{
    margin : 10px 10px;
}

.productItemContainer .productName {
    margin-right: 75px;
}

.productItemContainer .productName small{
    color: red;
    font-style: italic;
}

.shoppingCartBottomContainer  {
    width: var(--default-container-width);
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shoppingCartCheckoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.shoppingCartCheckoutContainer p {
    margin: 7px 0;
    padding: 0;
}

.shoppingCartCheckoutContainer .summaryTotal,
.shoppingCartCheckoutContainer .summaryShipping {
    border-bottom: var(--default-border-light);
    padding-bottom: 5px;
}

.shoppingCartCheckoutContainer span {
    display: inline-block;
}

.shoppingCartCheckoutContainer .summary {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

.shoppingCartCheckoutContainer .summaryTotal {
    display: flex;
}

.shoppingCartCheckoutContainer span:first-of-type {
    min-width: 150px;
}

.shoppingCartCheckoutContainer span:last-of-type {
    text-align: right;
    width: 140px;
}

.productPrice {
    width: 200px;
}