.shoppingCartPage {
    width: var(--default-container-width);
    margin: 0 20px;
}

.productAmountContainer input[type=text] {
    padding: 8px;
    height: 20px;
    margin: 0;
}

.summaryGift {
    color: green;
    font-style: italic;
}

.shoppingCartPage .productAmountContainer {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-l);
    font-weight: bold;
    height: 40px;
    text-align: center;
}

.shoppingCartPage .productAmount {
    width: 25px !important;
    padding: 10px;
    background-color: var(--background-color-primary);
    border-radius: var(--default-border-radius);
    color: var(--font-color-secondary);
    cursor: pointer;
    margin: 0 10px;
}

.shoppingCartPage .button {
    height: 30px;
    float: right;
}

.shoppingCartContainer {
    border-bottom: var(--default-border-light);
    width: var(--default-container-width);
}

.shoppingCartContainer .shoppingCartTop {
    border-bottom: var(--default-border-light);
    display: flex;
    font-weight: bold;
    font-size: var(--font-size-l);
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--default-container-width);
}

.shoppingCartContainer .shoppingCartTop .articleTop {
    margin: 0 0 0 20%;
}

.shoppingCartContainer .shoppingCartTop div,
.shoppingCartContainer .productItemContainer div {
    width: 20%;
    margin: 0;
}

.shoppingCartContainer .productItemContainer div.delete {
    width: 40px;
    margin-left: 20px;
}

.shoppingCartContainer .productItemContainer .productPriceTotal,
.shoppingCartContainer .shoppingCartTop .priceTotalTop {
    text-align: right;
}

.shoppingCartContainer .priceTotalTop {
    margin-left: auto;
}

.shoppingCartContainer img{
    width: 75px;
}

.productItemContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productItemContainer div {
    margin : 10px 10px;
}

.productItemContainer .productName small{
    color: red;
    font-style: italic;
}

.shoppingCartBottomContainer  {
    width: var(--default-container-width);
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shoppingCartCheckoutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.shoppingCartCheckoutContainer p {
    margin: 7px 0;
    padding: 0;
}

.shoppingCartCheckoutContainer .summaryTotal,
.shoppingCartCheckoutContainer .summaryShipping {
    border-bottom: var(--default-border-light);
    padding-bottom: 5px;
}

.shoppingCartCheckoutContainer span {
    display: inline-block;
}

.shoppingCartCheckoutContainer .summary {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

.shoppingCartCheckoutContainer .summaryTotal {
    display: flex;
}

.shoppingCartCheckoutContainer span:first-of-type {
    min-width: 150px;
}

.shoppingCartCheckoutContainer span:last-of-type {
    text-align: right;
    width: 140px;
}

@media only screen and (max-width: 900px) {
    .shoppingCartBottomContainer {
        flex-direction: column;
    }

    .shoppingCartCheckoutContainer {
        align-items: flex-start;
    }

    .shoppingCartPage {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .shoppingCartContainer .shoppingCartTop div,
    .shoppingCartContainer .productItemContainer div
    {
        width: 100px;
        margin: 0;
    }

    .productImage {
        display: none;
        margin: 0;
    }

    .productAmountContainer {
        margin-right: 25px;
    }

    .articleTop {
        margin-right: 10px !important;
    }

    .productName {
        margin-right: 10px !important;
    }

    .shoppingCartContainer .shoppingCartTop .articleTop {
        margin-left: 0;
    }

    .shoppingCartPage .button {
        float: left;
    }

    .orderProduct {
        align-items: center;
    }

    .ProductOverview {
        padding: 0;
    }

    .productPrice {
        text-align: center;
    }
}