.FilterSelectionMenu {
    min-width: 200px;
    margin: 0 20px;
}

.FilterSelectionMenu .filterTitle h3 {
    border-bottom: var(--default-border-light);
    padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
    .FilterSelectionMenu {
        min-width: 150px;
    }
}