.FilterSelectionMenu {
    min-width: 200px;
    margin: 0 20px;
}

.FilterSelectionMenu .filterTitle h3 {
    border-bottom: var(--default-border-light);
    padding-bottom: 10px;
}

.filterSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
}

@media only screen and (max-width: 900px) {
    .FilterSelectionMenu {
        min-width: 150px;
    }

    .filterSection {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .FilterSelectionMenu {
        display: none;
    }

    .filterSection {
        justify-content: flex-start;
    }
}
