.RegisterForm {
    width: auto;
}

.RegisterForm fieldset {
    background-color: #fcfcfc;
    border: var(--default-border-light);
    border-radius: var(--default-border-radius);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 1000px;
}

.RegisterForm .formElement {
    display: flex;
    flex-direction: column;
}

.RegisterForm .formElement .formImage {
    margin: 30px 20px;
}

.RegisterForm .formElement .formImage input {
    display: none;
}

.RegisterForm .formElement .formImage .custom-file-upload {
    padding: 30px;
    border: var(--default-border-light);
    background-color: var(--background-color-light);
    background-image: url('/src/Assets/icons/upload_image_arrow.png');
    background-repeat: repeat-y;
    background-position: 20px center;
    display: flex;
    justify-content: flex-end;
    width: 250px;
    border-radius: var(--default-border-radius);
    transition: all 1s ease-out;
}

.RegisterForm .formElement .formImage .custom-file-upload:hover {
    background-color: var(--background-color-blue);
    color: var(--font-color-secondary);
    background-position: 20px -100px;
    transition: all 0.3s ease-in;
}

.RegisterForm #float-label {
    min-width: 425px;
    margin: 10px 25px;
}

.RegisterForm label {
    font-size: 0.9em !important;
}

.AddressForm select,
.RegisterForm select {
    padding: 20px;
    border: var(--default-border-light);
    border-radius: var(--default-border-radius);
    margin: 20px -5px;
}

.RegisterForm select:first-of-type {
    margin-left: 25px;
}

@media only screen and (max-width: 1100px) {
    .RegisterForm fieldset {
        width: 95%;
        flex-direction: column;
    }

    .RegistrationOverview {
        width: 98%;
    }

    .RegistrationOverview .formContainer {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .RegisterForm #float-label {
        min-width: 250px;
        margin: 5px;
    }

    .RegistrationOverview {
        width: 92%;
    }
}