main.cms {
    width: 100% !important;
    max-width: 100% !important;
    flex-direction: row;
}

.overview {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 20px auto;
}

.overview .details {
    cursor: pointer;
    color: var(--font-color-primary);
}

.modal {
    background-color: white;
    border: var(--default-border-light);
    border-radius: var(--default-border-radius);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    top: 150px;
    max-width: 1300px;
    min-height: 500px;
    width: 90%;
    z-index: 9999;
}

.cms .cmsMainMessage {
    margin: 30px auto;
    font-size: var(--font-size-l);
}

.cms textarea,
.cms #float-label input {
    border: var(--default-border-light);
}

.cms .itemContainer {
    max-width: 1300px;
    margin: 10px auto;
}

.cms .itemContainer .button {
    font-size: var(--font-size-s);
    float: right;
    height: 35px;
    border-radius: var(--default-border-radius);
}

.tableDetailsSmall,
.tableDetails {
    display: table;
    border-spacing: 0 2px;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;
}

.tableDetailsSmall td:first-of-type,
.tableDetails td:first-of-type {
    border-radius: 5px 0 0 5px;
    width: 35px;
    text-align: center;
}

.tableDetailsSmall td:last-of-type,
.tableDetails td:last-of-type {
    border-radius: 0 5px 5px 0;
    width: 70px;
}

.tableDetailsSmall td:first-of-type p,
.tableDetails td:first-of-type p {
    padding: 5px;
}

.tableDetailsSmall tr:hover:not(:first-of-type) td,
.tableDetails tr:hover:not(:first-of-type) td {
    background-color: #f2f6ff;
    transition: background-color 0.5s ease-in;
}

.tableDetailsSmall td,
.tableDetails td {
    padding: 20px;
    width: 300px;
    border-bottom: var(--default-border-light);
    font-family: var(--default-font-light);
    font-size: var(--font-size-m);
    background-color: #fcfcfc;
    transition: background-color 0.5s ease-out;
}

.tableDetailsSmall td {
    padding: 12px 17px;
}

.tableDetailsSmall tr:first-of-type td,
.tableDetails tr:first-of-type td {
    background-color: var(--background-color-blue) !important;
    color: var(--font-color-secondary);
    font-weight: bold;
    height: 60px;
}

.tableDetailsSmall tr:first-of-type td:first-of-type,
.tableDetails tr:first-of-type td:first-of-type {
    text-align: center;
}


.profileContainer,
.modalContainer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-family: var(--default-font-light);
}

.modalContainer .modalItem {
    display: flex;
    border-bottom: var(--default-border-light);
    flex-direction: row;
    padding: 10px 0;
    width: var(--default-container-width);
}
.modal h2 {
    margin:30px;
}

.modalContainer .modalItem div:first-of-type {
    width: 300px;
    font-weight: bold;
}

.cms .formElement {
    width: 98% !important;
}

.actionContainer {
    display: flex;
    width: 75px;
}

.button {
    background-color: var(--background-color-primary);
    padding: 10px 20px;
    color: white !important;
}

.delete,
.edit {
    width: 25px;
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
}

.edit {
    display: inline-block;
    transform: rotate(130deg);
}

.edit a{
    color: #97befc !important;
}

.delete {
    color:red !important;
}

.overview a {
    color: var(--font-color-primary);
}