main.cms {
    width: 100% !important;
    max-width: 100% !important;
}

.overview {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 20px auto;
}

.overview .details {
    cursor: pointer;
    color: #ffa303;
}

.modal {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    top: 150px;
    max-width: 1300px;
    min-height: 500px;
    width: 90%;
    z-index: 9999;
}

.cms .itemContainer {
    max-width: 1300px;
    margin: 10px auto;
}

.cms .itemContainer .button {
    font-size: 0.9em;
    float: right;
    height: 35px;
    border-radius: 3px 3px 3px;
}

.tableDetails {
    display: table;
    border-spacing: 0 10px;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto;
}

.tableDetails tr:not(:first-of-type) td:first-of-type {
    background-color: white;
    border: none;
}

.tableDetails td:last-of-type {
    width: 70px;
}
.tableDetails td:first-of-type {
    width: 35px;
    text-align: center;
}

.tableDetails td:first-of-type p {
    padding: 5px;
    width: 50px;
}

.tableDetails tr:hover:not(:first-of-type) td:not(:first-of-type) {
    background-color: #f2f6ff;
    transition: background-color 0.5s ease-in;
}

.tableDetails td {
    padding: 10px;
    width: 300px;
    border-top: 1px solid #eee;
    background-color: #fafafa;
    transition: background-color 0.5s ease-out;
}

.tableDetails tr:first-of-type td {
    background-color: #333 !important;
    color: white;
    font-weight: bold;
    height: 60px;
}

.tableDetails tr:first-of-type td:first-of-type {
    text-align: center;
}

.tableDetails tr:first-of-type td:not(:first-of-type){
    background-color: transparent;
}

.modalContainer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins ExtraLight";
}

.modalContainer .modalItem {
    display: flex;
    border-bottom: 1px solid #eee;
    flex-direction: row;
    padding: 10px 0;
    width: 100%;
}
.modal h2 {
    margin:30px;
}

.modalContainer .modalItem div:first-of-type {
    width: 300px;
    font-weight: bold;
}

.cms .formElement {
    width: 98% !important;
}

.actionContainer {
    display: flex;
    width: 75px;
}

.button {
    background-color: #ffa303;
    padding: 10px 20px;
    color: white !important;
}

.delete,
.edit {
    width: 25px;
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
}

.edit {
    display: inline-block;
    transform: rotate(130deg);
}

.edit a{
    color: #97befc !important;
}

.delete {
    color:red !important;
}

.overview a {
    color: #ffa303;
}