@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background-color-primary: #FFA303;
    --background-color-dark: #333;
    --background-color-light: #eee;
    --default-border-light: 1px solid #eee;
    --default-border-radius: 4px;
    --default-border: 1px solid #ccc;
    --default-container-width: 100%;
    --default-table-width: 100%;
    --font-color-primary: #FFA303;
    --font-color-secondary: white;
    --font-color-tertiary: #999;
    --font-size-xs: 0.8em;
    --font-size-s: 0.9em;
    --font-size-m: 1.0em;
    --font-size-l: 1.1em;
    --font-size-xl: 1.5em;
    --font-size-xxl: 2.0em;
    --default-font-bold: "Poppins SemiBold", Arial;
    --default-font-light: "Poppins ExtraLight", Arial;
    --default-font-normal: "Poppins", Arial;
    --default-margin: 0 20px;
    --default-margin-container: 20px;
    --default-width: 900px;
    --default-width-container: 1200px;
    --default-min-width: 900px;
    --default-max-width: 900px;
    --link-color-primary: #000;
    --link-color-secondary: #FFA303;
    --menu-indicator-left: "\27A4";
    --input-focus-border-color: 1px solid #FFA303;
    --symbol-checkmark: "\2713";
    --symbol-warn: "\26A0";
    --symbol-cross: "\2717";
    --transition-out: all 300ms ease-out;
    --transition-in: all 300ms ease-in;
}

body {
  background-color: white;
  font-family: var(--default-font-normal);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: var(--default-width-container);
  text-align: left;
  width: 98%;
}

main .itemContainer {
  margin: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color-primary);
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-xxl);
  transition: font-size 0.3s ease-out;
}

h2 {
  font-size: var(--font-size-xl);
  transition: font-size 0.3s ease-out;
}

h3 {
  font-size: var(--font-size-m);
  transition: font-size 0.3s ease-out;
}

p {
  font-family: var(--default-font-light);
}

.Info {
  margin: var(--default-margin-container);
}

.notice {
  margin: 20px auto;
  padding: 3px;
  font-style: italic;
}

.Error {
  color: red;
  font-weight: bold;
}

textarea:focus, input:focus{
  outline: none;
}

input[type="text"]:disabled {
    background-color: #eee !important;
    color: #666;
    font-style: italic;
}

.errorMessage {
  color:red;
  font-size: var(--font-size-s);
  margin: 0 auto;
}

.errorInput {
  border: 1px solid red !important;
}

tr.warning .orderInvoice{
  color: red;
}

.textContentContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: var(--default-width);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}

.userContentContainer {
  display: flex;
  flex-direction: row;
  font-family: var(--default-font-light);
}

.userContentContainer .leftMenuItems {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-secondary);
}

.App-header-block {
  height:200px;
}

#float-label {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  position: relative;
}

textarea {
  height: 300px !important;
}

textarea,
#float-label input {
  width: 100%;
  height: 45px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: var(--transition-out);
  /*box-shadow: 0;*/
}

textarea:focus,
#float-label input:focus {
  border: var(--input-focus-border-color);
  box-shadow: 1px 1px 20px  #efefef;
  transition: all 300ms ease-in;
}

#float-label label {
  font-size: 16px;
  font-family: var(--default-font-normal);
  padding: 0 12px;
  color: var(--font-color-tertiary);
  pointer-events: none;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(0, 12px) scale(0.75);
}

#float-label .Active {
  transform: translate(0, 12px) scale(0.75);
}

footer {
  background-color: var(--background-color-dark);
  color: var(--font-color-secondary);
  min-height: 50px;
  padding: 20px 0;
  text-align: left;
  width: var(--default-container-width);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
    .errorMessage {
        margin: 0;
    }

    h1 {
        font-size: var(--font-size-xl);
        transition: font-size 0.3s ease-out;
    }

    h2 {
        font-size: var(--font-size-l);
        transition: font-size 0.3s ease-out;
    }

    h3 {
        font-size: var(--font-size-m);
        transition: font-size 0.3s ease-out;
    }
}

@media only screen and (max-width: 900px) {
    main {
        width: 92%;
        padding: 5px;
    }

    .App-header-block {
        height: 160px;
    }

    .contentContainer {
        margin-top: 40px;
    }

    .userContentContainer {
        flex-direction: column;
        width: 100%;
    }

    .textContentContainer {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }

    #float-label {
        min-width: 250px;
    }

    #float-label input {
        width: 95%;
    }
}