.OfferBannerContainer {
    height: 200px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position-y: center;
    align-items: center;
}

.OfferBannerContainer span {
    color: var(--font-color-secondary);
    margin-top: 30px;
    font-size: 175%;
    text-shadow: 1px 1px 4px #666 ;
}

.OfferBannerContainer .button {
    height: 25px;
}

@media only screen and (max-width: 600px) {
    .OfferBannerContainer {
        margin-top: 150px;
    }

    .OfferBannerContainer span {
        margin-top: 50px;
    }
}