.Login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: var(--default-margin-container);
    min-width: 500px;
}

.register,
.LoginForm {
    background-color: #fcfcfc;
    border: var(--default-border-light);
    border-radius: var(--default-border-radius);
    min-height: 250px;
    padding: 20px;
}

.formContainer a {
    color: var(--link-color-secundary);
    text-decoration: underline;
}

.formContainer .button {
    font-size: var(--font-size-xs);
}

.formContainer input[type=password],
.formContainer input[type=text] {
    width: auto !important;
}

.formContainer span,
.formContainer p {
    font-family: var(--default-font-light);
    font-size: var(--font-size-s);
    margin: 30px 15px;
}

.formContainer span {
    margin: 0;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}